<a href="https://colab.research.google.com/github/JasonCha7/pyhton/blob/main/class_9_2024149753_%EC%B0%A8%EA%B2%BD%ED%9B%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

In [25]:
number_list = []
for number in range(1, 6):
   number_list.append(number)
   print(number_list)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [24]:
number_list = list(range(1, 6))
print(number_list)

[1, 2, 3, 4, 5]

In [26]:
number_list = [number for number in range(1,6)]
print(number_list)

[1, 2, 3, 4, 5]

In [27]:
number_list = [number-1 for number in range(1,6)]
print(number_list)

[0, 1, 2, 3, 4]

In [28]:
a_list = [number for number in range(1,6) if number % 2 == 1]
print(number_list)

[0, 1, 2, 3, 4]

In [29]:
a_list = [number for number in range(1,6) if number % 2 == 1]
print(number_list)

[0, 1, 2, 3, 4]

In [30]:
a_list = []
for number in range(1,6):
  if number%2 == 1:
    a_list.append(number)
    print(a_list)

[1]
[1, 3]
[1, 3, 5]

In [10]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']
# 함수 적용
[word.lower() for word in sentence]
# 조건 적용
[word for word in sentence if len(word) > 6]
# 함수 적용하여 튜플로 저장
[(x, x ** 2, x ** 3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [12]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
  for col in cols:
    print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [13]:
rows = range(1,4)
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
  print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [14]:
# 다음은 어떤 결과가?
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [21]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}
print(letter_counts)

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [22]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}
print(letter_counts)

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [23]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}
print(letter_counts)

{'l': 1, 's': 1, 'e': 2, 'r': 1, 't': 2}

In [20]:
a_set = {number for number in range(1,6) if number % 3 == 1}
print(a_set)

{1, 4}

In [31]:
def function_name(param1, param2):
  value = do_something()
  return value

In [32]:
def sum(a, b):
  return a+b

sum(1,2)

3

In [33]:
sum(1.3, 3.1)

4.4

In [34]:
sum('love ', 'python')

'love python'

In [35]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
  print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [36]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'
list( zip(english, french) )
# [('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]
dict( zip(english, french) )
# {'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [37]:
# wine, entree, dessert를 받아서 딕셔너리로 만들어 반환하는 함수
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu('chardonnay', 'chicken', 'cake')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [41]:
# wine, entree, dessert를 받아서 딕셔너리로 만들어 반환하는 함수
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu(entree='beef', dessert='bagel', wine='bordeaux')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [42]:
menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [44]:
# dessert의 기본값을 정해줌
def menu(wine, entree, dessert='pudding'):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [45]:
menu('chardonnay', 'chicken')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [46]:
menu('dunkelfelder', 'duck', 'doughnut')

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [49]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
  return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

In [53]:
menu(100) # 1 위치 인자
menu(price=100) # 1 키워드 인자
menu(price=120, entree='beef') # 2 키워드 인자
menu(dessert='bagel', price=110) # 2 키워드 인자
menu('eighty' 'saint-pierre', 'fish') # 3 위치 인자
menu('hundred', wine='saint-pierre') # 1 위치 인자, 1 키워드 인자

{'price': 'hundred',
 'wine': 'saint-pierre',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [56]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
  return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

In [58]:
menu() # price에 인자가 할당이 안됨
menu(price=100, 'saint-pierre') # 키워드 인자 할당 후, 위치 인자
menu(100, price=120) # 같은 변수에 두 번 할당
menu(main='cream pasta') # 정의되지 않은 매개변수

SyntaxError: positional argument follows keyword argument (<ipython-input-58-c972a2692444>, line 2)

In [59]:
def echo(anything):
  'echo returns its input argument'
  return anything

In [61]:
def print_if_true(thing, check):
  """
  Prints the first argument if a second argument is true.
  The operation is:
  1. Check whether the *second* argument is true.
  2. If it is, print the *first* argument.
  """
  if check:
    print(thing)

In [63]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

In [66]:
print(echo.__doc__)

echo returns its input argument